<h1>AdminsBackoffice::Welcome#index</h1>
<p>Find me in app/views/admins_backoffice/welcome/index.html.erb</p>

<%= link_to 'logoff', destroy_admin_session_path, method: :delete%>


<% if admin_signed_in? %>
  <p>Administrador ESTÁ logado / <%= current_admin.email %> </p>
  <!-- <p><%= current_admin.inspect %> </p> -->
<% else %>
  <p>Administrador NÃO está logado</p>
<% end %>