<h1>Seja bem-vindo!</h1>

<div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
  <div class="tile-stats">
    <div class="icon"><i class="fas fa-thermometer-full"></i></i></div>
    <div class="count"><%= @userStatistiC.f_totalQuestionS %></div>
    <h3>Total</h3>
    <p>Quantidade total de questões respondidas.</p>
  </div>
</div>

<div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
  <div class="tile-stats">
    <div class="icon"><i class="fas fa-check-circle"></i></div>
    <div class="count"><%= @userStatistiC.right_questions %></div>
    <h3>Certas</h3>
    <p>Parabéns, continue respondendo as questões.</p>
  </div>
</div>

<div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
  <div class="tile-stats">
    <div class="icon"><i class="fas fa-times-circle"></i></div>
    <div class="count"><%= @userStatistiC.wrong_questions %></div>
    <h3>Erradas</h3>
    <p>Verifique as questões que errou para praticar mais.</p>
  </div>
</div>
